html {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
}

.app {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 100px;
}

#app div {
	background-color: gray;
	width: 100px;
	height: inherit;
	text-align: center;
	line-height: 75px;
}

#app2 {
	width: 70px;
	height: 70px;
	background-color: lightblue;
	position: absolute;
	z-index: 9;
}

.rowi {
	background-color: lightblue;

	text-align: center;
	display: block;
	width: 50%;
	position: relative;
	left: 20%;
}
